@tailwind base;
@tailwind components;
@tailwind utilities;

/* Regular */
@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal/NeueMontreal-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Light */
@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal/NeueMontreal-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal/NeueMontreal-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Ogg Regular */
@font-face {
  font-family: 'Jedira';
  src: url('/fonts/Jedira/jedira-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HuayingMincho';
  src: url('/fonts/华英明朝/huayingMinchoClassic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Neue Montreal', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.01em;
}

.writing-vertical-rl {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: 'HuayingMincho', sans-serif;
  letter-spacing: 0.3em;
}